/* 
  HEADER 
*/
header{
  height: 50px;
  position: relative;
  background-color: black;
}

.content-header{
  position: absolute;
  top: 5px;
  right: 5px;
}




/* 
  MAIN 
*/
main{
  height: calc(100vh - 110px);
  overflow-y: auto;
  flex-wrap: wrap;
}

.user-image{
  width: 180px;
  height: 110px;
  margin: 2px;
  position: relative;
}

.mic-name{
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 4px;
  background-color: rgba(0, 0, 0, .2);
  font-weight: 800;
  color: white;
}




/* 
  FOOTER 
*/
footer{
  height: 60px;
  justify-content: space-between;
  align-items: center;
  background-color: #222222;
  color: white;
}


footer i{
  font-size: 22px;
  color: white;
  margin-bottom: 5px;
}

footer .btn-footer{
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
  cursor: pointer;
  flex-shrink: 0;
  position: relative;
}

.fa-chevron-up{
  font-size: 8px;
}

.chevron-left{
  position: absolute;
  top: 15px;
  left: 30px;
}

.chevron-right{
  position: absolute;
  top: 15px;
  left: 60px;
}


li .li-chevron{
  position: relative;
}

li .fa-chevron-up{
  position: absolute;
  top: 15px;
  left: 0;
}


/* Non funziona  */
/* li .chevron{
  flex-direction: row;
  align-items: center;
} */



footer .btn-footer .active{
  color: #4AC800;
}

footer .btn-end-meet{
  padding: 23px 15px;
  margin: 0;
  background-color: #4A4A4A;
  color: red;
  /* Non funziona  */
  /* align-items: stretch; */
}
